@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

:root{
    font-family: roboto;
    --mainPadding: calc(min(10vw + 150px, 10%));
    --headerColor: #6d28d9;
    --sidebarColor: #f4f4f5;
    --hoverColor: #bebebe;
}
body{
    height: 100vh;
    margin:0;
    min-width: 650px;
    /* background-color: red; */
}
#content{
    height:100%;
    display:grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    text-align: center;
}
/* HEADER PART */
.header{
    font-family: 'Tilt Warp';
    background-color: var(--headerColor);
    color: white;
    grid-area: header;
    /* border-bottom: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.header > img{
    padding-left: 10px;
    height: 2.5em;
}

/* MAIN PART */
.main{
    grid-area: main;
    padding: 0 var(--mainPadding);
}
.main-title{
    display: flex;
    font-family: 'Tilt Warp';
    font-size: 2rem;
    justify-content: center;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.main-content-left, .main-content-right{
    display: flex;
    flex-direction: column;
}
.game-board{
    display: flex;
}

.cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

/* FOOTER PART */
.footer{
    background-color: green;
    grid-area: footer;
    font-size: larger;
    font-weight: bold;
}
